/*------------
リセットcss
-------------*/
*{
    padding: 0;
    margin:0;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}
ul{
    list-style-type: none;
}



/*------------
共通部分
-------------*/
/*-カスタムプロパティ-*/
:root{
    --background-color: #fff;
    --primary-color:#333;
    --secondary-color:#f7f0d7;
}



body{
    color: var(--primary-color);
    background-color: var(--background-color);
}


/*-container(コンテンツの幅)-*/
.container{ 
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
}


/*------------
リセットcss
-------------*/
header{
    padding: 30px;
    text-align: center;
}

header h1{
    background-color: darkgreen;
    font-size: clamp(28px,6vw,70px);
    margin-bottom: 20px;
}

header nav ul{
    display: flex;
    justify-content:space-around;
}