/*-リセットcss-*/
*{
    padding: 0;
    margin:0;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}
ul{
    list-style-type: none;
}


/*-かすたむぷ-*/
:root{
    --primary-color:#333;
    --secondary-color:#f7f0d7;
}



/*-css-*/
header{
    background-color: var(--secondary-color);
}